@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";
@import url('https://fonts.googleapis.com/css?family=Francois+One');

body {
	font-family: 'Francois One', sans-serif;
	font-size: 36px;
}
.container {
	width: 1150px;
	margin: 0 auto;
}

.dashboard {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
h1 {
	font-size: 138px;
	border-bottom: 1px solid grey;
}
.dude{
	background-image: url('/images/dude.jpg');
	background-repeat: no-repeat;
	width: 454px;
	height: 640px;
	position: relative;
}

.dude .percentage {
	position: absolute;
    top: 42px;
    left: 247px;
    background: #FE3A3A;
    color: white;
    font-size: 57px;
    width: 115px;
    text-align: center;
    border-radius: 20px;
}

.dude-5{
	background-position: -40px -10px;
}
.dude-10{
	background-position: -556px -10px;
}
.dude-15{
	background-position: -1065px -10px;
}
.dude-20{
	background-position: -1579px -10px;
}
.dude-25{
	background-position: -2090px -10px;
}
.dude-30{
	background-position: -40px -652px;
}
.dude-35{
	background-position: -556px -652px;
}
.dude-40{
	background-position: -1065px -652px;
}
.dude-45{
	background-position: -1579px -652px;
}
.dude-50{
	background-position: -2090px -652px;
}
.dude-55{
	background-position: -40px -1293px;
}
.dude-60{
	background-position: -556px -1293px;
}
.dude-65{
	background-position: -1065px -1293px;
}
.dude-70{
	background-position: -1579px -1293px;
}
.dude-75{
	background-position: -2090px -1293px;
}
.dude-80{
	background-position: -40px -1934px;
}
.dude-85{
	background-position: -556px -1934px;
}
.dude-90{
	background-position: -1065px -1934px;
}
.dude-95{
	background-position: -1579px -1934px;
}
.dude-100{
	background-position: -2090px -1934px;
}

.buttons div {
	padding-top: 3rem;
}

